server:
  address: ":8080"

telegram:
  bot_token: "YOUR_BOT_TOKEN_HERE"

email:
  host: "imap.gmail.com"
  port: 993
  username: "your-email@gmail.com"
  password: "your-app-password"
  polling_interval: 30  # Polling interval in seconds
  services:
    - name: "cloudflare"
      config:
        email_from: "noreply@notify.cloudflare.com"
        email_subject:
          - "devidence.dev"
        telegram_chat_id: "YOUR_CLOUDFLARE_CHAT_ID"
        telegram_message: "🛡️ Cloudflare App Code: \n```%s```"
        # code_pattern: "\\b\\d{6}\\b"  # Optional: custom regex pattern
    - name: "perplexity"
      config:
        email_from: "team@mail.perplexity.ai"
        email_subject:
          - "Sign in to Perplexity"
          - "Sign in to Perplexity"
        telegram_chat_id: "YOUR_PERPLEXITY_CHAT_ID"
        telegram_message: "🔮 Perplexity Code: ```%s```"
        # code_pattern: "\\b[a-zA-Z0-9]{5}-[a-zA-Z0-9]{5}\\b"  # Opcional

hook:
  - name: "qbittorrent"
    path: "/webhook/qbittorrent"
    config:
      telegram_chat_id: "YOUR_QBITTORRENT_CHAT_ID"
      telegram_message: "📥 **Download completed successfully!** 🎬 \n🔍 **Name:**  \n%s\n📍 **Path:**  \n%s"
  # - name: "other-webhook"
  #   path: "/webhook/other-webhook"
  #   config:
  #     telegram_chat_id: "YOUR_OTHER_WEBHOOK_CHAT_ID"
  #     telegram_message: "Custom message: %s"

telegram:
  bot_token: "YOUR_TELEGRAM_TOKEN"
