server:
  address: ":8080"

telegram:
  bot_token: "{{TELEGRAM_BOT_TOKEN}}"

email:
  host: "{{EMAIL_HOST}}"
  port: { { EMAIL_PORT } }
  username: "{{EMAIL_USERNAME}}"
  password: "{{EMAIL_PASSWORD}}"
  polling_interval: 20 # Polling interval in seconds
  services:
    - name: "cloudflare"
      config:
        email_from: "noreply@notify.cloudflare.com"
        email_subject:
          - "devidence.dev"
        telegram_chat_id: "{{TELEGRAM_CLOUDFLARE_CHAT_ID}}"
        telegram_message: "🛡️ Cloudflare App Code: \n```%s```"
        # code_pattern: "\\b\\d{6}\\b"  # Optional: custom regex pattern
    - name: "perplexity"
      config:
        email_from: "team@mail.perplexity.ai"
        email_subject:
          - "Sign in to Perplexity"
          - "Inicia sesión en Perplexity"
        telegram_chat_id: "{{TELEGRAM_PERPLEXITY_CHAT_ID}}"
        telegram_message: "🔮 Perplexity Code: ```%s```"
        # code_pattern: "\\b[a-zA-Z0-9]{5}-[a-zA-Z0-9]{5}\\b"  # Optional

hook:
  - name: "qbittorrent"
    path: "/webhook/qbittorrent"
    config:
      telegram_chat_id: "{{TELEGRAM_QBITTORRENT_CHAT_ID}}"
      telegram_message: "📥 **Download completed successfully!** 🎬 \n🔍 **Name:**  \n%s\n📍 **Path:**  \n%s"
  # - name: "other-webhook"
  #   path: "/webhook/other-webhook"
  #   config:
  #     telegram_chat_id: "{{TELEGRAM_OTHER_CHAT_ID}}"
  #     telegram_message: "Custom message: %s"
